@import "../node_modules/codemirror/lib/codemirror.css";

.App {
  text-align: center;
}

.App-header {
  background-color: #2E7D32;
  height: 75px;
  width: 100%;
  padding: 20px;
  color: white;
}

.logo {
  float: left;
  font-size: 24px;
}

select {
  float: right;
  background-color: #2E7D32;
}

#codeArea {
  padding: 0;
  height: 500px;
  text-align: left;
}

#chatArea {
  height: 500px;
  background-color: #222;
  color: #FFF;
  text-align: left;
}

#chatArea div {
  height: 400px;
}

#chatArea input {
  color: #000;
}
