@import "../node_modules/codemirror/lib/codemirror.css";

.App {
  text-align: center;
}

.App-header {
  background-color: #2E7D32;
  height: 75px;
  padding: 20px;
  color: white;
}


.logo {
  float: left;
  font-size: 24px;
}

select, .runCode {
  background-color: #2E7D32;
}

#codeArea {
  text-align: left;
}
