@import "../node_modules/codemirror/lib/codemirror.css";

.App {
  text-align: center;
}

.App-header {
  background-color: #2E7D32;
  height: 75px;
  width: 100%;
  padding: 20px;
  color: white;
}

.logo {
  float: left;
  font-size: 24px;
}

select {
  display: inline-block;
  background-color: #2E7D32;
  text-align: center;
}

#codeArea {
  padding: 0;
  height: 500px;
  text-align: left;
}

#chatArea {
  height: 500px;
  background-color: #222;
  color: #FFF;
  text-align: left;
}

#chatArea div {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 400px;
}

#chatArea textarea {
  margin-top: 10px;
  color: #000;
  width: 100%;
}
